
/* barre du menu et box grise*/
#nav{
	list-style-type: none;
	background-color: black;
	color: grey;
	font-size: 30PX;
	height: 35px;
	display: flex;
	justify-content: flex-start;

	margin: 0 20% 0 20%;
	width: 1000px;
	padding: 0;
}

li{
	padding-right: 15px;
	padding-left: 15px;
}

#fellows{
	background-color: #C0C0C0;
	color: black;
	
}

#image1{
	margin: 0 20% 0 20%;
	width: 1000px;	
}


/* carrousel - Fellows wanted dead*/
h2{
	text-align: center;
}

.carrousel{
	margin: 0 20% 0 20%;
	display: flex;
	width: 1000px;
}

article{
	padding: 0 8px 0 8px;
}


/* formulaire de contact */
h3{
	text-align: left;
	width: 1000px;
	margin: 0 20% 2% 20%;
}
input, select {
	width: 750px;
	margin: 0 25% 0.7% 25%;
	border-color: black;
	border-width:1.4px;
}



textarea{
	width: 750px;
	height: 80px;
	margin: 0 25% 0.7% 25%;
	border-color: black;
	order-width:1.4px;
}


